<div class="row">
	<div class="span8 offset2">
		<div class="jumbotron center">
			<h1>Whoa there killer.</h1>
			<p class="lead">
			Ready to rock? Welcome to your new plot. First a quick intro.<br /><br />
			<b>Staging:</b> The far left column you will see is the staging column. It doesn't move and is a great place to put all your thoughts (into cards) before you know where they are going in the story. Thus <em>staging</em>.<br /><br />
			<b>Columns:</b> Once you decide where "It was a dark and stormy night..." goes in the grand scheme, create a column (some prefer <em>chapter</em>) by clicking on the plus icon at the top of each column. A new one will appear to the right.<br /><br />
			<b>Moving things:</b> 
			To move your cards, click and hold the 4-way arrow on the card and drag that puppy into the column you want it in, just below the column title. Then, do the same with all the others until your story takes shape. Columns and cards can be created anywhere, and moved anywhere at will.<br /><br />
			<b>Navigating:</b> Once you've created a ton of columns, some of them will be off the screen to the right, in a distant land filled with magic, pining for your embrace. To easily reunite with them, (slowly) scroll your mouse wheel or swipe to scroll with a mac. At last!<br /><br />
			That's all there is to visually sequencing your story.<br />
			<%= link_to '<i class="icon-play icon-white"></i> I\'m ready, let\'s go!'.html_safe, {:controller => 'cols',:action => 'new'}, :remote => true, :class => ['action-add-staging','btn','btn-success',] %>	</p> 
		</div>	
	</div>
</div>

