<div class="row">
	<div class="span8 offset2">
		<div class="jumbotron center">
			<h1>Whoa there killer.</h1>
			<p class="lead">
			Ready to rock? All you need to do is click here:
			<%= link_to '<i class="icon-play icon-white"></i> I\'m ready, let\'s go!'.html_safe, {:controller => 'cols',:action => 'new'}, :remote => true, :class => ['action-add-staging','btn','btn-success',] %>	</p> 
		</div>	
	</div>
</div>

