<div class="staging">
	<div class="col">
		<div class="col-ctrl">
			<div class="col-left"></div>
			<div class="col-right">
				<div class="col-add pointer special-right-border"><i class="icon-plus"></i></div>
			</div>
		</div>
		<div class="col-body">
			<div class="col-title">Staging</div>
			<div class="cards"></div>
		</div>
	</div>
</div>