<p id="notice"><%= notice %></p>
<h2 id="plot-title" data-plot="<%= @plot.id %>"><%= @plot.title %></h2>
		<%= render partial: "cols/list", :locals => {:cols => Col.find_all_by_plot_id(@plot.id)} %>
	</div>
</div>