<!-- cards/list -->
<div class="cards">
	<% cards.each do |card| %>
		<div class="card" data-card="<%= card.id %>" data-thiscol="<%= card.col_id %>">
			<div class="card-ctrl blue rnd5top">&nbsp;
				<div class="ctrl-left">
					<div class="card-del pointer action-delete-card"><i class="icon-trash icon-white"></i></div>
					<div class="card-title">&nbsp;</div>
				</div>
				<div class="ctrl-right">
					<div class="card-move pointer"><i class="icon-move icon-white"></i></div>
				</div>

			</div>
			<div class="card-text rnd5bottom"><%= text_area_tag "", card.text %></div>
		</div>
	<% end %>
</div>
<div class="card-add-ctrl">
	<%= link_to '<i class="icon-plus icon-white"></i> Card'.html_safe, {:controller => 'cards',:action => 'new', :col=> 1}, :remote => true, :class => ['action-add-card','btn','btn-primary','btn-small'] %>
</div>