<div class="card">
	<div class="card-ctrl blue rnd5top">&nbsp;
		<div class="ctrl-left">
			<div class="card-del pointer action-delete-card"><i class="icon-trash icon-white"></i></div>
			<div class="card-title">&nbsp;</div>
		</div>
		<div class="ctrl-right">
			<div class="card-move pointer"><i class="icon-move icon-white"></i></div>
		</div>

	</div>
	<div class="card-text rnd5bottom"><%= text_area_tag "" %></div>
</div>