.clear{clear: both;}
.center{margin-left: auto; margin-right: auto;}
.app-title{float: left; margin: 10px 0px 0px 10px; font-size: 24px;}
.app-title a{color: #FFF;}
#nav{float: left;}
.page-title{font-size: 24px; margin: 20px 0 10px 0;}
.plot-label{float: left;}
#plot-title{margin-left: 10px; font-weight: bold;}

/* modal */

/* styles */
.pointer{cursor: pointer;}
a{color: #0094FF;}
a:hover{text-decoration: underline;}
a:visited{color: #0094FF;}
.btn, .btn:visited, .btn:active{color: #FFF !important;}

/* colors */
.red{background-color: #DC143C;}
.orange{background-color: #FF7F24;}
.yellow{background-color: #FFB90F;}
.green{background-color: #458B00;}
.blue{background-color: #6495ED;}
.purple{background-color: #8B008B;}
.pink{background-color: #FF00FF;}
.gray{background-color: #C0C0C0;}

/* plots */
.plots{margin: 0px;}
	.plot-item{list-style: none; margin-top: 20px;}
	.plot-item-title{font-size: 24px; line-height: 1.3em;}
	.plot-item-desc{font-style: italic;}

/* nav */
.nav-bar{background: #000; width: 100%; height: 40px; position: fixed;}
.nav{float: right; margin: 10px 10px 0px 0px;}
.nav li{float: left; padding: 0px 5px;}
.nav li{color: #FFF;}
.nav li a{color: #FFF;}
.nav li a:hover{background: transparent; color: #FFF; text-decoration: underline;}

/* main */
h1,h2,h3{line-height: 1.3em;}
.special-right-border{height: 20px; border-right: 1px solid #CCCCCC; margin-top: 0px; margin-bottom: 0px; padding: 5px 5px 0px 0px;}
.container{margin-top: 40px; float: left; width: 100% !important;}
.content{margin: 0px 10px;}
.staging{float: left; width: 200px; position: absolute; z-index: 999;}
.staging .col{width: 220px; z-index: 999;}
.viewport{float: left; width: 80%; position: absolute; margin-left: 210px; overflow: auto; white-space: nowrap;}
.scroller{width: 1000%; min-width: 1000%;}
.rnd5{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.rnd5top{-webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;}
.rnd5bottom{-webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;}
.cols{margin-left: 10px; width: 100%;}
.col{width: 220px; float: left; min-height: 600px; height: 100%;}
.col-ctrl{float: right; margin-top: 10px; border: 0px solid #CCCCCC; width: 100%; background: #FFF;}
.col-ctrl .col-left{float: left;}
.col-ctrl .col-left{float: left; margin: 0 auto;}
.col-ctrl .col-right{float: right; padding-left: 5px; padding-right: 0px; margin-top: 0px;}
.col-ctrl .col-move-left{float: left; padding: 0px 3px 0px 3px; margin-top: 0px; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC;}
.col-ctrl .col-move-right{float: left; padding: 0px 3px 0px 3px; margin-top: 0px; border: 1px solid #CCCCCC;}
.col-ctrl .col-edit{float: left; padding-right: 5px;}
.col-ctrl .col-add{float: left; padding: 0px 5px 0px 0px;}
.col-ctrl .col-del{float: left; padding: 0px 10px 0px 5px;}

.col-body{clear: both; padding-top: 5px; border-right: 1px solid #CCCCCC; min-height: 500px; background: #FFF;}
	.col-title{margin-left: 10px; font-weight: bold; outline: none; border: 0px; font-size: 14px; color: #000;}
	.col-title textarea{font-size: 14px; color: #000; line-height: 1.3em; font-weight: bold; outline: none; border: 1px; padding: 0px; margin: 0px; overflow: hidden; resize: none; box-shadow: none;}

.cards{min-height: 50px; padding-top: 5px; margin-left: 10px; padding-right: 15px;}
.card{margin-top: 10px; width: 200px;}
.card:first-child{margin-top: 0px;}
	.card-add-ctrl{text-align: center; margin-right: 10px; margin-top: 10px;}
	.card-ctrl .ctrl-left{float: left; padding-left: 5px; margin-top: 0px;}
	.card-ctrl .card-title{color: #FFFFFF; font-size: 12px; width: 130px; margin-left: 0px;}
	.card-ctrl .ctrl-right{float: right; padding-right: 0px; margin-top: 0px; width: 30px;}
	.card-ctrl .card-del{float: left; padding-right: 5px; margin-top: 0px;}
	.card-ctrl .card-color{float: left;}
	.card-ctrl .card-move{float: left; padding-right: 0px;}
	.card-text{outline: none; font-size: 12px; height: 100%; line-height: 1.3em; clear: both; border-left: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-right: 1px solid #cccccc; }
	.card-text textarea{width: 188px; font-size: 12px; line-height: 1.3em; outline: none; overflow: hidden; resize: none; padding: 5px 3px 0px 5px; border: 0px solid blue; margin: 0px; box-shadow: none;}
	.card-add-btn{margin-top: 20px;}
	.card-colors{height: 20px; margin-left: 30px; display: none;}
	.card-color-item{float: left; width: 15px; height: 15px; margin: 0px 2px; border: 1px solid #FFF;}
